[alias]
    st = status
    di = diff
    co = checkout
    ci = commit
    br = branch
    wdiff = diff --word-diff-regex=$'[^\\x80-\\xbf][\\x80-\\xbf]*' --color-words
[tig]
    line-graphics = ascii
[color]
	ui = auto
[core]
	editor = vim
[pull]
	rebase = merges
[push]
	default = upstream
[credential]
	helper = store
[include]
        path = ~/.gitconfig.local
