[alias]
    st = status
    di = diff
    co = checkout
    ci = commit
    br = branch
    wdiff = diff --word-diff-regex=$'[^\\x80-\\xbf][\\x80-\\xbf]*' --color-words
[tig]
    line-graphics = ascii
[color]
	ui = auto
[core]
	editor = vim
[pull]
	rebase = merges
[push]
	default = upstream
[credential]
	helper = store
	helper = 
	helper = /usr/share/git-credential-manager-core/git-credential-manager-core
	credentialStore = gpg
[include]
	path = ~/.gitconfig.local
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
