#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=libreoffice-writer
Name[en_US]=libreoffice
Exec=libreoffice --writer
Name=libreoffice
Icon=gnome-panel-launcher
